body {
    padding:0rem 1rem;
    font-family: monospace;
    font-size:1rem;
    background:#000;
    color:#ddd;
}

h1 {
    font-size:1.5rem;
}

a {
    text-decoration:none;
    color:#ddd;
}

input {
    color:#ddd;
    font-family:monospace;
    vertical-align:middle;
    border:1px solid #ccc;
    font-size:0.7rem;
}

input[type="button"] {
    background:#888;
    padding:0.2rem 0.4rem;
    margin-right:0.1rem;
}

input#moveList {
    width:360px;
    background:#111;
    padding:0.2rem 0.4rem;
}

select {
    border:1px solid #ccc;
    background:#000;
    color:#ddd;
}

#board {
    width:400px;
    margin-bottom:1rem;
}

div#historyBlock {
    padding:0rem 1rem;
    width:150px;
    position:absolute;
    top:20px;
    left:650px;
    height:97%;
    overflow:auto;
}

ul#history li {
    list-style-type:roman;
}

ul#history li a {
    margin-right:1rem;
    cursor:pointer;
}

#version {
    font-size:0.8rem;
    margin-bottom:1rem;
}

#fenBlock {
    margin-bottom:1rem;
}

.keyword {
    color:orange;
}

/* chessboardjs theming */
.black-3c85d {
    background-color:#356ba2;
    color:#000;
}
.white-1e1d7 {
    background-color:#b4bcd2;
    color:#000;
}

div.clearHack {
    clear:both;
    height:1px;
}
